<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class= "apparel" id="apparel">
            <h1 class = "heading"> our<span> apparel</span> span </h1>

            <div class="apparel-slider">
              <div class="wrapper">
     
                <div class="box">
                        <img src = "https://imageio.forbes.com/specials-images/imageserve/5ed00f17d4a99d0006d2e738/0x0.jpg?format=jpg&crop=4666,4663,x154,y651,safe&height=416&width=416&fit=bounds" alt="hi">
                        <h3>sweatshirt</h3>
                        <div class="price">$420.69
                            <a href="#" class="btn"add to cart></a>
                        </div>

                        <div class="box">
                          <img src = "https://imageio.forbes.com/specials-images/imageserve/5ed00f17d4a99d0006d2e738/0x0.jpg?format=jpg&crop=4666,4663,x154,y651,safe&height=416&width=416&fit=bounds" alt="hi">
                          <h3>t-shirt</h3>
                          <div class="price">$420.69
                              <a href="#" class="btn"add to cart></a>
                          </div>

                          <div class="box">
                            <img src = "https://imageio.forbes.com/specials-images/imageserve/5ed00f17d4a99d0006d2e738/0x0.jpg?format=jpg&crop=4666,4663,x154,y651,safe&height=416&width=416&fit=bounds" alt="hi">
                            <h3>long sleeve shirt</h3>
                            <div class="price">$420.69
                                <a href="#" class="btn"add to cart></a>
                            </div>

                            <div class="box">
                              <img src = "https://imageio.forbes.com/specials-images/imageserve/5ed00f17d4a99d0006d2e738/0x0.jpg?format=jpg&crop=4666,4663,x154,y651,safe&height=416&width=416&fit=bounds" alt="hi">
                              <h3>shorts</h3>
                              <div class="price">$420.69
                                  <a href="#" class="btn"add to cart></a>
                              </div>

                              <div class="box">
                                <img src = "https://imageio.forbes.com/specials-images/imageserve/5ed00f17d4a99d0006d2e738/0x0.jpg?format=jpg&crop=4666,4663,x154,y651,safe&height=416&width=416&fit=bounds" alt="hi">
                                <h3>sweatpants</h3>
                                <div class="price">$420.69
                                    <a href="#" class="btn"add to cart></a>
                                </div>


                                <div class="box">
                                  <img src = "https://imageio.forbes.com/specials-images/imageserve/5ed00f17d4a99d0006d2e738/0x0.jpg?format=jpg&crop=4666,4663,x154,y651,safe&height=416&width=416&fit=bounds" alt="hi">
                                  <h3>hat</h3>
                                  <div class="price">$420.69
                                      <a href="#" class="btn"add to cart></a>
                                  </div>
                </div>
              </div>  
            </div>
    </section>
</body>
</html>